.background{
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
 }
.background img{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
 }

.mapContainer{
  height: 85%;
  width: 85%;
  background:#ff0000;
  position:relative;
  margin: 0 auto;
  overflow:hidden;
  /*overflow-y:scroll;*/
}
.mapPicture{
  width: 100%;
  position:absolute;
  background:#0000ff;
  cursor:move;
}
.mapPicture2{
  width: 400px;
  position:absolute;
  background:#0000ff;
  cursor:move;
}
.bottomMenu{
  display: flex;
  justify-content: space-between;
  position:absolute;
  bottom: 0px;
  right: 10px;
  left: 10px;
  height: 50px;
}
.tasks{
  flex: 1;
}
.map{
  flex: 1;
}
.phone{
  flex: 1;
}
.camera{
  flex: 1;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: rgba(203, 43, 43, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.task{
  width: 500px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  background: yellowgreen;
  
}

.tasksContainer { 
  display: flex;
}
.taskSection {
  background: orangered;
  display: flex;
  flex-direction: column;
}
.blue {
  background: steelblue;
}
.container div {
  font-size: 25px;
  padding: .5em;
  color: white;
  flex: 1;
}